.summary_news{ :class => 'push-2 prepend-1 span-18 append-1 rounded_box' }
  %hr.space
  %div{ :class => 'title span-2' }
    -#=image_tag 'project_icn.png'
  %div{ :class => 'span-12' }
    %div{ :class => 'title span-12 last' }
      %a{ :id => "session_summary_pod_link_#{new.id}", :href => new.link } #{new.title}
    %div{ :class => 'span-12 last' }
      Fecha:
      %b
        %u
          = new.date


  %div{ :class => 'span-10 last' }
    %b
      %a{ :id => "session_summary_pod_link_#{new.id}", :href => "javascript:CortesAbiertas.show_points_of_day(#{new.id})" } mostrar
  %hr.space
  %div{ :id => "session_summary_#{new.id}", :class => 'prepend-5 span-10 last', :style => "display:none" }
    = new.des
  %hr.space

