:javascript
  #{data_json}

-#=render :partial => "shared/tag_cloud"
%hr.space
%hr.space
%hr.space
%hr.space

%h1.title
  Intervenciones en la sesion: #{@session.identifier} - #{@session.date}

%hr.space
%hr.space

%div{ :class => 'push-2 prepend-1 span-18 append-1 rounded_box'}
  %hr.space
  %div{ :class => 'title span-12 last' }
    Intervenciones
  %div{ :id => "session_part_#{@session.id}", :session_id => "#{@session.id}", :class => 'session_part span-18 last' , :height => "300"}

%hr.space
%hr.space

-@interventions.each do |intervention|
  =render :partial => "intervention", :locals => { :intervention => intervention }

%hr.space
%hr.space

:javascript
  jQuery(document).ready(function(){
   jQuery(".session_part").each(function(i, s) {
        jQuery(this).html("<img src='/images/loading.gif' />")

    })
    jQuery(".session_part").each(function(i, s) {
        var div = jQuery(this)
        var session_id = jQuery(this).attr("session_id")
        session_get_intervention_per_MP("/api/interventions?session_id=" + session_id, function(data) {
                div.html("")
                var id = "session_part_" + session_id
                var r = Raphael(id, 600, 300);
                
                var ar = []
                var legend = []
                
                for(var w in data) {
                    ar.push(data[w]*100)
                    legend.push(w)
                }
                var pie = r.g.piechart(300, 150, 110, ar, {legend: legend, legendpos: "east", href: []});
                pie.hover(function () {
                    this.sector.stop();
                    this.sector.scale(1.1, 1.1, this.cx, this.cy);
                    if (this.label) {
                        this.label[0].stop();
                        this.label[0].scale(1.5);
                        this.label[1].attr({"font-weight": 800});
                    }
                }, function () {
                    this.sector.animate({scale: [1, 1, this.cx, this.cy]}, 500, "bounce");
                    if (this.label) {
                        this.label[0].animate({scale: 1}, 500, "bounce");
                        this.label[1].attr({"font-weight": 400});
                    }
                });

        })
    })
  });


